.options {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    z-index: 999;
    font-family: Torus;
    background: url('../assets/backgrounds/bg-light.png');
    background-size: cover;
    background-position: center center;
    &--open {
        animation: options-open .25s ease-in-out;
        animation-fill-mode: forwards;
    }
    &--close {
        animation: options-close .25s ease-in-out;
        animation-fill-mode: forwards;
    }
    &__closeBtn {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 26px;
        color: black;
        transition: all ease-in-out .1s;
        &:hover {
            cursor: pointer;
            color: gray;
        }
    }
    &__title {
        color: black;
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        margin: 10px 0;
    }
}

.options-item {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6px;
    &__text {
        margin: 5px 0;
        color: lighten(black, 10%);
        font-size: 14px;
    }
}

.options-item-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    &__input {
        width: 60%;
        height: 25px;
        border: 2px solid grey;
        border-radius: 6px;
        padding-left: 1%;
        &:focus {
            outline: none;
        }
    }
    &__confirm {
        padding: 0 10px;
        height: 30px;
        margin: 0 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Torus;
        font-weight: 600;
        font-size: 16px;
        background: lighten(green, 8%);
        border: 0px solid transparent;
        border-bottom: 3px solid darken(green, 10%);
        outline: none;
        transition: all ease-in-out .1s;
        &:hover {
            cursor: pointer;
            background: lighten(green, 12%);
        }
        &:active {
            border-width: 0px;
        }
    }
}

@keyframes options-open {
	from {
		right: -100%;
	}
	to {
        right: 0%;
    }
}

@keyframes options-close {
	from {
		right: 0%;
	}
	to {
        right: -100%;
    }
}