@import url(../node_modules/@fortawesome/fontawesome-free/css/all.css);
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative; }

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative; }

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden; }

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block; }

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden; }

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0); }

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute; }

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s; }

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em; }

.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center; }

.preload {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 30em; }

.header {
  width: 100%;
  height: 120px;
  border-bottom: 6px #B22222 solid;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  background: blue;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 2; }

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  opacity: .6;
  z-index: 3; }

.content {
  display: flex;
  flex-direction: column; }

.song-title, #artist {
  width: 100%;
  position: relative;
  bottom: 0;
  margin-left: 2%;
  margin-bottom: 1.5%;
  z-index: 4;
  color: #fff; }

#title {
  font-size: 1.5rem; }

#artist {
  font-size: 1.2em; }

.inputs-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .inputs-container .input {
    width: 24%;
    height: 25px;
    border: 2px solid grey;
    border-radius: 6px;
    padding-left: 1%; }
    .inputs-container .input:focus {
      outline: none; }

.mods-container {
  width: 100%;
  /* min-height: 100px; */
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .mods-container .mods-item {
    display: none;
    width: 60px;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .mods-container .mods-item img {
      width: 100%;
      height: auto; }

.stats-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .stats-container__item {
    width: 70px;
    height: 30px;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 16px; }
    .stats-container__item--OD {
      background: #588be0;
      border-bottom: 3px solid #2562c7; }
    .stats-container__item--AR {
      background: #ff5256;
      border-bottom: 3px solid #ff060b; }
    .stats-container__item--CS {
      background: #ccb834;
      border-bottom: 3px solid #8f8124; }
    .stats-container__item--HP {
      background: #1fba38;
      border-bottom: 3px solid #147824; }

.checkbox-container {
  width: 100%; }
  .checkbox-container input {
    display: none; }

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF4500; }
  .footer .outer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 32px;
    color: #fff; }

.footer-stat {
  width: 100px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px; }
  .footer-stat__text {
    padding-bottom: 3px; }
  .footer-stat__icon {
    margin: 0 5px; }

#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed; }
  #cube-loader .caption {
    margin: 0 auto; }
  #cube-loader .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    position: relative;
    transform: rotateZ(45deg); }
    #cube-loader .cube-loader .cube {
      position: relative;
      transform: rotateZ(45deg);
      width: 50%;
      height: 50%;
      float: left;
      transform: scale(1.1); }
    #cube-loader .cube-loader .cube:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: blue;
      animation: cube-loader 2.76s infinite linear both;
      transform-origin: 100% 100%; }
    #cube-loader .cube-loader .loader-2 {
      transform: scale(1.1) rotateZ(90deg); }
    #cube-loader .cube-loader .loader-3 {
      transform: scale(1.1) rotateZ(180deg); }
    #cube-loader .cube-loader .loader-4 {
      transform: scale(1.1) rotateZ(270deg); }
    #cube-loader .cube-loader .loader-2:before {
      animation-delay: 0.35s; }
    #cube-loader .cube-loader .loader-3:before {
      animation-delay: 0.69s; }
    #cube-loader .cube-loader .loader-4:before {
      animation-delay: 1.04s; }

@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }
